<nav class="navbar">
  <a routerLink="/stores" class="brand">Coupon Manager</a>

  <div class="navbar-right">
    @if(currentUser !== null){
      <span>{{ currentUser.name }}</span>
    }
    <button type="button" class="btn btn-secondary" (click)="onLogout()">Odjavi se</button>
    @if (isSuperAdmin()) {
      <a routerLink="/admins" class="btn btn-secondary">Admin Dash</a>
    }
    @if (isSuperAdmin()) {
      <button type="buttton" class="btn btn-secondary" [disabled]="isLoadginStores()" (click)="onOpenExportAllModal()" >Export All</button>
    }
  </div>
</nav>

<main class="content">
  <router-outlet />
</main>



@if (isExportAllModalOpen()) {
  <app-export-all-modal
    [stores]="allStores()"
    (closed)="onExportAllModalClose()">
  </app-export-all-modal>
}
