<h1>Prodavnice</h1>

@if (isLoading()) {
  <p> Ucitavanje... </p>
}

@if(errorMessage() !== ''){
  <p class="error">{{errorMessage()}}</p>
}

@if(!isLoading() && errorMessage() === '' && stores().length === 0){
  <p>Nema prodavnica </p>
}

<div class="cards">
  @for (store of stores(); track store.id) {
    <a class="card" [routerLink]="['/stores', store.id]">
      <h3>{{ store.name }}</h3>

      @if (store.description !== null) {
        <p>{{ store.description }}</p>
      } @else {
        <p class="muted">Bez opisa</p>
      }

      @if (store.value_limit !== null) {
        <span class="badge badge-neutral">Limit: {{ store.value_limit | currency }}</span>
      }
    </a>
  }
</div>
